.body,
.container-row,
.sidebar, 
.container-fluid,
main {
    height: 100vh;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.7em;
    color: rgb(77, 77, 77);
    margin-top: 1.5em;
}

h3 {
    font-size: 1.3em;
    font-style: italic;
    color: rgb(77, 77, 77);
}

h4 {
    font-size: 1.2em;
    font-style: italic;
    color: rgb(77, 77, 77);
}

h5 {
    font-size: 1em;
    font-style: italic;
    color: rgb(77, 77, 77);
}

h6 {
    font-size: 1em;
    font-style: italic;
    color: rgb(182, 182, 182);
}

.table {
    width: auto;
}

.sidebar,
main {
    overflow: auto;
}

@media screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        height: auto;
    }

    main {
        height: auto;
    }
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}
.btn-toggle:hover, .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #00000008;
}
.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}
.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}
.btn-toggle-nav a:hover, .btn-toggle-nav a:focus {
    background-color: #00000008;
}
.scrollarea {
    overflow-y: auto;
}
.fw-semibold {
    font-weight: 600;
}
.lh-tight {
    line-height: 1.25;
}

body {
    animation: fadein 0.8s;
    -moz-animation: fadein 0.8s; /* Firefox */
    -webkit-animation: fadein 0.8s; /* Safari and Chrome */
    -o-animation: fadein 0.8s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.svg-preview {
    cursor: pointer;
}

.svg-preview svg {
    height: fit-content;
    width: 80%;
}